.view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .toggle {
        appearance: none;
        width: 30px;
        height: 30px;
        border: 2px solid #777;
        transform: rotate(45deg);
        cursor: pointer;
        transition: .3s transform;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;

        &:checked {
            transform: rotate(360deg);
            &:before {
                content: '\2713';
                font-size: 26px;
                position: absolute;
                font-weight: 900;
                animation: .6s checked_anim .4s forwards;
                color: #00a98f;

                @keyframes checked_anim {
                    50% {
                        transform: scale(1.3);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
            }
        }
    }
    .destroy {
        background-color: #ff4c4c;
        border: none;
        color: #fff;
        font-size: 20px;
        padding: 5px 10px;
        cursor: pointer;
    }
    .task-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .list-item {
        font-size: 22px;
        color: #777;
        cursor: pointer;
        max-width: 350px;
        word-wrap: break-word;
        text-align: center;
    }
    .task-description{
        opacity: 0;
        max-width: 350px;
        color: #999;
        word-wrap: break-word;
        transition: .2s;
        font-size: 0;
        padding: 10px 0;
        
        &.active{
            opacity: 1;
            font-size: 20px;
        }
    }
    .important{
        border: none;
        color: #fff;
        border-radius: 3px;
        padding: 0 5px;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        outline: none;
        transition: .3s;
        
        &:hover{
            background-color: #fe230a;
        }
        &.active{
            background-color: #d52b1d;
        }
    }
}
@media screen and (max-width: 530px){
    .view{
        .list-item{
            width: 200px;
        }
    }
}