<div class="view">
    <input type="checkbox" class="toggle" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
    <div class="task-wrapper">
        <div class="list-item" (click)="showFullTodo()" title="{{todo.title}}">
            {{todo.title}}
        </div>
        <div class="task-description" [class.active]="full">
            {{todo.task}}
        </div>
    </div>
    <button class="destroy" (click)="removeTodo(todo)">
        Delete
    </button>
    <button class="important"
       (click)="toggleTodoImportant(todo)"
       [class.active]="todo.important">
        i
    </button>
</div>