.header {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    .new-todo {
        padding: 5px 10px;
        border: 1px solid transparent;
        box-shadow: 0 0 2px 1px #777;
        outline: none;
        transition: .2s;
        position: relative;
        font-size: 34px;
        color: #777;

        &:hover,
        &:focus {
            box-shadow: none;
            border-bottom: 1px solid #777;
        }
    }
}